<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>AmigosChat • Login</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="login-body">
<div class="kwai-bg">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>
<div class="login-container">
  <div class="logo">
    <span class="logo-k">V</span><span>aduaChat</span>
    <div class="logo-sub">conecte-se Amigos</div>
  </div>
  <div class="tabs">
    <button class="tab active" data-tab="login">Entrar</button>
    <button class="tab" data-tab="register">Cadastrar</button>
  </div>
  <div class="tab-content active" id="tab-login">
    <input type="text" id="login-user" placeholder="Usuário">
    <input type="password" id="login-pass" placeholder="Senha">
    <button class="btn-primary" onclick="doLogin()">Entrar</button>
  </div>
  <div class="tab-content" id="tab-register">
    <input type="text" id="reg-user" placeholder="Nome de usuário">
    <input type="password" id="reg-pass" placeholder="Senha">
    <button class="btn-primary" onclick="doRegister()">Criar conta</button>
  </div>
  <div class="credits">
    <p> Créditos: <b>Gabriel</b> & <b>Erikslava</b></p>
  </div>
</div>

<script src="/static/js/login.js"></script>
</body>
</html>
